# Intellij
.idea/
*.iml
*.iws
*.class

# VSCode
.classpath
.project
.settings/
bin/


# Where the GPG keys would be for the jReleaser plugin
secrets

# Mac
.DS_Store

# Maven
log/
target/

.gradle/
build/
out

out/production
out/artifacts
*.jar

*.log
settings.xml
