version: 2.1

executors:
  java8:
    docker:
      - image: circleci/openjdk:8-jdk
orbs:
  gradle: circleci/gradle@2.0.1


jobs:
  publish:
    executor: java8
    steps:
     - checkout
     - run:
         command: |
           export GPG_KEY_FILE=`mktemp`
           echo "export GPG_KEY=$GPG_KEY_FILE" >> $BASH_ENV
         name: Prepare GPG keystore file
     - run:
         command: echo $SECRING_GPG_ASC_BASE64 | base64 --decode > $GPG_KEY
         name: Base64 decode gpg keystore to file
     - run:
         command: gpg --batch --import $GPG_KEY
         name: Import GPG keys
     - run:
         command: |
            echo "use-agent" >> ~/.gnupg/gpg.conf
            echo "allow-loopback-pinentry" >> ~/.gnupg/gpg-agent.conf
            echo RELOADAGENT | gpg-connect-agent
            echo "TEST" > test.file
            echo $GPG_PASSPHRASE | gpg --batch --pinentry-mode=loopback --passphrase-fd 0 --output test.signed --yes --sign test.file
            rm test.signed
            rm test.file
         name: Set GPG flags
     - run:
         command: |
           declare $( gpg --list-keys --keyid-format SHORT --with-colons | awk -F: '/^pub:/ { print "GPG_KEY_ID="$5 }' )
           echo "signing.gnupg.executable=gpg" >> gradle.properties
           echo "signing.gnupg.useLegacyGpg=false" >> gradle.properties
           echo "signing.gnupg.keyName=$GPG_KEY_ID" >> gradle.properties
         name: Setting up Gradle signing
     - run:
         command: ./gradlew publish -x test --stacktrace
         name: Deploy artifacts
     - run:
         command: echo RELOADAGENT | gpg-connect-agent
         name: Reset GPG

workflows:
  checkout-build-test:
    jobs:
      - gradle/test:
          executor: java8
      - publish:
          requires:
            - gradle/test
        filters:
          branches:
            ignore: /.*/
          tags:
            only: /^\d+\.\d+\.\d+$/
